_site/
*.sw[po]
*.~vsd
\#*\#
*~
.DS_Store
Gemfile.lock
.vscode/
.jekyll-metadata
.\$*.png.bkp
.\$*.png.dtmp
.obsidian/app.json
.obsidian/appearance.json
.obsidian/core-plugins-migration.json
.obsidian/core-plugins.json
.obsidian/workspace.json
_drafts/fragments.md
